/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-family: $ff-base;
  font-weight: $fw-normal;
  background: $color-page;
}
